[run]
source = 
    src/python/piper_train
    src/python_run/piper

omit = 
    */tests/*
    */test_*
    */__pycache__/*
    */venv/*
    */.venv/*
    */dist/*
    */build/*
    */eggs/*
    */.eggs/*
    setup.py
    */migrations/*

[report]
precision = 2
show_missing = True
skip_covered = False
sort = Cover

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    
    # Don't complain about missing debug-only code:
    def __repr__
    def __str__
    
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    
    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    
    # Don't complain about abstract methods
    @abstract
    @abstractmethod

[html]
directory = htmlcov

[xml]
output = coverage.xml